@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'utils.css';

:root {
  --primary: #2eb086;
  --dark: #313552;
  --light: #f0f0f0;
  --tertiary: #b8405e;
  --pure: #ffffff;
  --mix: #54bab9;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto; */
}

body {
  font-family: 'Poppins';
}

header {
  background-color: var(--dark);

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

a {
  color: var(--light);
  margin-left: 10px;
}

.link {
  margin-left: 30px;
}

.btn {
  padding: 5px 20px;
  font-weight: 700;
  font-size: 17px;
  border: 3px solid transparent;
  cursor: pointer;
  transition: 0.3s;
  width: 250px;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--dark);
}
.btn-primary:hover {
  background-color: var(--dark);
  border-color: var(--primary);
  color: var(--primary);
}
.btn-secondary {
  background-color: transparent;
  border-color: var(--primary);
  color: var(--primary);
}

.btn-secondary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--dark);
}

.right {
  display: flex;
  color: var(--light);
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  text-align: right;
}

.skills p {
  font-size: 15px;
  font-weight: 500;
  color: var(--tertiary);
}

.card {
  position: relative;
  width: 500px;
  background-color: var(--light);
  padding: 20px;
  margin: 20px;
  border: 0px solid var(--dark);
  border-radius: 10px;
  box-shadow: 23px 12px 14px -14px var(--dark);
  cursor: pointer;
  transition: 0.5s;
}

.card:hover {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 17px 27px 36px 0px var(--dark);
}

.card img {
  position: absolute;
  right: 0;
  top: -30px;
}
